

h2 {
    margin-left: 1.25rem;
    border-bottom: 1px solid black;
}

article.content {
    padding: 20px 0;
}

/*
 * container
 */
.container article.content > .summary,
.container article.content > .chronology {
    display: none;
}
.container .header > .summary,
.container .header > .chronology {
    display: none;
}

/*
 * chronology
 */

.container.chronology-container .header > .chronology,
.container.chronology-container article.content > .chronology {
    display: block;
}

.header > .chronology {
    position: relative;
}

.header .sort-order {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* checkbox */
.chronology .ui.horizontal.list {
    font-size: 0.8rem;
    margin-right: 160px;
}

ul {
}

li {
    font-size: 0.90rem;
}
li:before {
    content: "" !important;
}

li:hover {
    background-color: whitesmoke;
}

li p:not(:last-of-type) {
}
li p:nth-child(2) {
    display: none;

    font-size: 0.85rem;
    min-height: 20px;
    margin-bottom: 17px;
}
li p.sub-description {
    margin-left: 100px;
}

.chronology li:hover .spanner-dates-description {
    color: black;
}

.spanner-dates-dates {
    display: inline-block;
    width: 100px;
}


.chronology .detail.button {
    position: absolute;
    margin-top: -17px;
    right: 0;
}

/* tag */
.chronology .tag {
    float: right;
    font-size: 0.7rem;
    color: #ddd;
    /*margin-right: 30px;*/
}
.chronology li:hover .tag {
    color: #aaa;
}


.chronology .tag:before {
    content: "#";
}

.chronology.sort-by-subject .tag {
    display: none;
}
.chronology.sort-by-time li {
    margin-bottom: 6px;
}




/*
 * summary
 */

.container.summary-container .header > .summary {
    display: block;
}
.container.summary-container article.content > .summary {
    display: block;
}

h2 {
    font-size: 1.28rem;
}

.summary p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin-bottom: 2px;
}

.summary h2,
.summary p {
    display: none;
}
